:root {
    --main-color1: #1f005c;
    --main-color2: #ffb56b;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: arial;
}

body {
    margin:0;
    padding:0;
    background: rgba(1,1,1,0.9);
    cursor: none;
    color: white;
    min-height: 100vh;
}

.circle {
    height:24px;
    width:24px;
    border-radius: 24px;
    background-color: white;
    position: absolute;
    top:0;
    left:0;
    pointer-events: none;
    z-index: 99;
}

.navbar-nav a {
    color: white;
    font-size: 1.2em;
    letter-spacing: 1.5px;
}
.navbar-nav a:hover {
    color: transparent!important;
    transform: scale(1.15);
    transition: 0.1s ease;
    background: linear-gradient(to right, var(--main-color1), var(--main-color2));
    -webkit-background-clip: text;
    background-clip: text;
}

.active {
    color: transparent!important;
    transform: scale(1.1);
    background: linear-gradient(to right, var(--main-color1), var(--main-color2));
    -webkit-background-clip: text;
    background-clip: text;
    border: 1px ridge;  
    border-image: linear-gradient(to right, var(--main-color1), var(--main-color2));
    border-image-slice: 1;
    animation: activeAnimation 1s ease-in-out;
    animation-delay: 3s;
    text-shadow: 0 0 10px var(--main-color1),
                    0 0 20px var(--main-color2),
                    0 0 40px var(var(--main-color1));
    box-shadow: 0 0 15px var(--main-color1),
                0 0 30px var(--main-color2);
}


.dropdown-menu {
    background-color: rgba(0,0,0,0.5);
    text-align: center;
}

.my-dropdown-toggle:focus {
    transform: scale(1.15);
    color:transparent!important;
    background: linear-gradient(to right, var(--main-color1), var(--main-color2));
    -webkit-background-clip: text;
    background-clip: text;
}


.dropdown-menu a:hover{
    transform: scale(1.1);
    color:transparent!important;
    background: linear-gradient(to right, var(--main-color1), var(--main-color2));
    -webkit-background-clip: text;
    background-clip: text;
}

.logo {
    position: absolute;
    left: 10px;
}

.logo span {
    font-size: 1.5em;
    color : white;
}

.hidden{
	display: none!important;
}

.coming-soon {
    margin-top: calc(50vh - 1em);
    width:100%;
    font-size: 120px;
    font-weight: 800;
    letter-spacing: 1vw;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(135deg, #1f005c, #48005f, #680060, #830060, #9c155f, #b22c5e, #c5415d, #d5585c, #e36e5c, #ef865e, #f89d63, #ffb56b);
    animation: slidein 1s ease-out, gradient 8s ease-in-out infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-size: 200% 200%;
    text-shadow: 0 0 150px white;
}

@keyframes slidein{
    0% {
        transform: translateX(-100%);
    }
    80% {
        transform: translateX(10%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes activeAnimation {
    0% {
        box-shadow: 0 0 15px var(--main-color1),
                    0 0 30px var(--main-color2);
    }
    50% {
        box-shadow: 0 0 20px var(--main-color1),
                    0 0 40px var(--main-color2);
    } 
    100% {
        box-shadow: 0 0 15px var(--main-color1),
                    0 0 30px var(--main-color2);
    }
}

@media(max-width:1024px) {
    .logo span {
        font-size: 1.2em;
    }
    
    .navbar-nav a {
        font-size: 1.1em;
        letter-spacing: 1.3px;
    }
}
@media(max-width:512px) {
    .logo span {
        font-size: 0.8em;
        margin:0;
    }
}