<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} {% endblock title %}</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">        
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    {% comment %} include jQuery ^ {% endcomment %}
</head>

<body id="bodyid">
    <div class="circle"></div><div class="circle"></div><div class="circle"></div><div class="circle"></div><div class="circle"></div><div class="circle"></div><div class="circle"></div><div class="circle"></div><div class="circle"></div><div class="circle"></div><div class="circle"></div><div class="circle"></div><div class="circle"></div><div class="circle"></div>
    
    <nav class="navbar navbar-expand-lg sticky-top">
        
        <div class="container justify-content-center">
            <a class="navbar-brand logo" href="#">
                <img src="{% static 'images/logo.png' %}" alt="Bootstrap" width="60" height="50" class="d-inline-block align-text-bottom">
                {% comment %} <span>ASCENSION</span> {% endcomment %}
            </a>    
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
                <ul class="navbar-nav text-center">
                    <li class="nav-item mx-3">
                        <a class="nav-link mx-3 my-1 p-1 {% if current_path == '/' %}active{% endif %}" href="{% url 'home'%}">Home</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link mx-3 my-1 p-1 {% if current_path == '/about/' %}active{% endif %}" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item dropdown mx-3">
                        {% comment %} <a class="nav-link my-dropdown-toggle mx-3 my-1 p-1 {% if current_path == '/services/' %}active{% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% endcomment %}
                        <a class="nav-link my-dropdown-toggle mx-3 my-1 p-1 {% if current_path == '/services/' %}active{% endif %}" href="#" type="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                            Services &#x25BC
                        </a>

                        <ul class="dropdown-menu dropend nav-item">

                            <li class="dropdown">
                                <a class="nav-link my-dropdown-toggle mx-3 my-1 p-1 {% if current_path == '/services/' %}active{% endif %}" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false" style="text-align:center!important;">
                                    Web Development&#x25BC
                                </a>
                                <ul class="dropdown-menu" style="margin-bottom:10px;">
                                    <li><a class="dropdown-item" href="#">Business Website Development</a></li>
                                    <li><a class="dropdown-item" href="#">E-com Website Development</a></li>
                                    <li><a class="dropdown-item" href="#">Web Application Development</a></li>
                                    <li><a class="dropdown-item" href="#">Shopify Website</a></li>
                                    <li><a class="dropdown-item" href="#">Custom Requests</a></li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a class="nav-link my-dropdown-toggle mx-3 my-1 p-1 {% if current_path == '/services/' %}active{% endif %}" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false" style="text-align:center!important;">
                                    Design&#x25BC
                                </a>
                                <ul class="dropdown-menu" style="margin-bottom:10px;">
                                    <li><a class="dropdown-item" href="#">Website Design</a></li>
                                    <li><a class="dropdown-item" href="#">Logo Design</a></li>
                                    <li><a class="dropdown-item disabled" aria-disabled="true">Brand and Identity</a></li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a class="nav-link my-dropdown-toggle mx-3 my-1 p-1 {% if current_path == '/services/' %}active{% endif %}" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false" style="text-align:center!important;">
                                    Social Media&#x25BC
                                </a>
                                <ul class="dropdown-menu" style="margin-bottom:10px;">
                                    <li><a class="dropdown-item" href="#">Account Management</a></li>
                                    <li><a class="dropdown-item" href="#">Social Media Advertising</a></li>
                                </ul>
                            </li>
                            
                            {% comment %} <li><a class="dropdown-item" href="{% url 'video_editing' %}">Video Editing</a></li> {% endcomment %}
                            <li class="dropdown">
                                <a class="nav-link my-dropdown-toggle mx-3 my-1 p-1 {% if current_path == '/services/' %}active{% endif %}" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false" style="text-align:center!important;">
                                    Video Editing&#x25BC
                                </a>
                                <ul class="dropdown-menu" style="margin-bottom:10px;">
                                    <li><a class="dropdown-item" href="{% url 'video_editing' %}">Video Editing</a></li>
                                    <li><a class="dropdown-item" href="{% url 'video_editing' %}">Hire a Video Editor</a></li>
                                </ul>
                            </li>
                            {% comment %} <li>
                                <hr class="dropdown-divider">
                            </li> {% endcomment %}
                            <li><a class="dropdown-item" href="{% url 'copywriting' %}">Copywriting</a></li>
                            
                            <li><a class="dropdown-item" href="{% url 'fixed_price_services' %}">Fixed Price Services</a></li>
                        </ul>

                    </li>

                    <li class="nav-item mx-3">
                        <a class="nav-link mx-3 my-1 p-1 {% if current_path == '/portfolio/' %}active{% endif %}" href="{% url 'portfolio' %}">Portfolio</a>
                    </li>

                    <li class="nav-item mx-3">
                        <a class="nav-link mx-3 my-1 p-1 {% if current_path == '/contact/' %}active{% endif %}" href="{% url 'contact' %}">Contact Us</a>
                    </li>

                    <li class="nav-item mx-3">
                        <a class="nav-link mx-3 my-1 p-1 {% if current_path == '/blog/' %}active{% endif %}" href="{% url 'blog' %}">Blog</a>
                    </li>
                    {% comment %} <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li> {% endcomment %}
                </ul>
                {% comment %} <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form> {% endcomment %}
            </div>
        </div>
    </nav>
    {% if messages %}
            {% for message in messages %}
                <div class="alert alert-primary alert-dismissible d-flex align-items-center" role="alert">
                    <strong>{{message}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}

    {% block content%}

    {% endblock content%}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
        
    <script src="{% static 'js/cursor.js' %}"> </script>
    
    <script>
        $(document).ready(function () {
            var isMobile = false;
    
            // Check if the user is on a mobile device
            if (/Mobi|Android/i.test(navigator.userAgent)) {
                isMobile = true;
            }
    
            // Handle tap event on mobile
            if (isMobile) {
                $(document).on('touchstart', function (event) {
                    // Prevent the default action
                    event.preventDefault();
                    // Add your code to handle tap on mobile here
                    // For example, you can hide the cursor divs
                    $('.circle').hide();
                });
            }
        {% comment %} function onLoadAnimations() {
            console.log('scaling up man');
            var buttons = document.querySelectorAll('.button-scale');
            console.log(buttons);
            buttons.forEach((button) => {
                button.style.transform = 'scale(1)';
            });
        } {% endcomment %}
    </script>

</body>

</html>
