{% extends "base.html" %} {% block title %}ASCENSION{% endblock title%}
{% block content%}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

<div class='video'>
    <video src="{% static 'images/electric.mp4' %}" autoplay muted loop></video>
    <div class="gradient-overlay"></div>
</div>

<div class="title-container">
    <h1 class="title">ASCENSION</h1>
    <p class="title-sub">We are an agency, specialising in Web Development, Digital Marketing, Social Media, Video Editing and Copywriting. Our experienced team will help you scale the online side of your business.</p>
</div>

{% endblock content%}